 .logo{
    width: 80px;
    margin-right: 10px;
 }

 .thumbnail-product{
   max-width: 250px !important;
 }

.file-product{
  margin: 20px;
  max-width: 250px !important;
}

 .sale-final-price{
   text-decoration: line-through;
   font-size: 18px;
 } 

 .sale-disc-price{
   color: red;
   font-size: 25px;
 }

 .normal-price{
  font-size: 25px;
} 

.not-available-price{
  text-decoration: line-through;
  font-size: 25px;
} 

} 
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

h1 {
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;  
}

th:nth-child(1), td:nth-child(1) {
  width: 10%;
}

th:nth-child(2), td:nth-child(2) {
  width: 30%;
}

th:nth-child(3), td:nth-child(3) {
  width: 70%;
}

th:nth-child(4), td:nth-child(4) {
  width: 30%;
}

th:nth-child(5), td:nth-child(5) {
  width: 30%;
}

.bg-pink {
  background-color: #DC3545;
}