 .logo{
    width: 80px;
    margin-right: 10px;
 }

 .thumbnail-product{
   max-width: 250px !important;
 }

.file-product{
  margin: 20px;
  max-width: 250px !important;
}

 .sale-final-price{
   text-decoration: line-through;
   font-size: 18px;
 } 

 .sale-disc-price{
   color: red;
   font-size: 25px;
 }

 .normal-price{
  font-size: 25px;
} 

.not-available-price{
  text-decoration: line-through;
  font-size: 25px;
} 